.propic{
    display: none;
}

h1{
    font-size: 1rem;
}

.landing-text h1{
    display: none;
}

.top-nav{
    display: none;
}

.nav-list{
    display: none;
}

.menu-toggler{
    display: none;
}

.menu-toggler.open{
    display: none;
}

.bar{
    display: none;
}

.bar.half{
    display: none;
}

.bar.start{
    display: none;
}

.open .bar.start{
    display: none;
}

.bar.end{
    display: none;
}

.open .bar.end{
    display: none;
}

.social-media{
    display: none;

}

.social-media i{
    display: none;;
}

.fa-linkedin:hover{
    display: none;
}

.icon-container{
    display: none;

}

.icon-container i{
    display: none;
}




.portfolio-description h6{
    display: none;
}

.portfolio-description .cta{
    display: none;
}

.contact{
    display: none;}

form{
    display: none;
}

.form label{
    display: none;
}

br{
    display: none;
}

a{
    color: rgb(0, 0, 0);
}

.up{
    display: none;
}


